{% extends "base.html" %}
{% block main_content %}
        <!-- 面包屑导航 -->
        <div class="row">
            <ul  class="breadcrumb ">
                <li><a href="#"><i class="fa fa-home" ></i>在库销售</a></li>
                <li ><a href="#">销售列表</a></li>
                <li class="active">销售信息</li>
            </ul>
        </div>
                <div class="row">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    <h4>销售商品信息</h4>
                </div>

                <div class="panel  panel-body">
                <form action="{{url_for('sell.sellData')}}" class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="product_name" class="control-label  col-lg-2" >商品名称:</label>
                        <div class="col-lg-6">
                            <input type="text"  class="form-control" id="product_name" name="product_name" value="{{datas[0]}}" readonly="readonly">
                            <input type="hidden" name="product_id" id="product_id" value="{{datas[4]}}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product_category" class="control-label  col-lg-2" >商品品类:</label>
                        <div class="col-lg-6">
                            <input type="text"  class="form-control" id="product_category" name="product_category" value="{{datas[1]}}" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product_standard"   class="control-label  col-lg-2">商品规格:</label>
                        <div class="col-lg-6">
                            <input type="text"  class="form-control"  id="product_standard" name="product_standard" value="{{datas[2]}}" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product_number" class="control-label  col-lg-2">在库数量:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="product_number" name="product_number" value="{{datas[5]}}" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product_price" class="control-label  col-lg-2" >商品售价:</label>
                        <div class="col-lg-2">
                             <input type="text"  class="form-control" id="product_price" name="product_price" value="{{datas[3]}}" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sell_number" class="control-label  col-lg-2" >销售数量:</label>
                        <div class="col-lg-6">
                             <input type="text"  class="form-control" id="sell_number" name="sell_number">
                        </div>
                    </div>



                <div class="btn-group">
                    <span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <input type="submit"  class="btn  btn-primary" value="提交保存" >
                    </span>
                    <span>
                        <a href="#"  class="btn  btn-default">返回列表</a>
                    </span>
                </div>
            </form>
                </div>
            </div>

        </div>
{% endblock %}